/Concurrency/target/
/MyStudentListAH/MyStudentList/dist/
/MyStudentListAH/MyStudentList/nbproject/private/
/MyStudentListAH/MyStudentList/build/
/MyStudentList/build/
/MyStudentList/dist/
/MyStudentList/nbproject/private/
/INGV_JavaFX/nbproject/private/
/INGV_JavaFX/dist/
/INGV_JavaFX/build/
/INGV/target/
/INGV2/target/
/INGV2/nbproject/private/
/INGV2/build/
/INGV2/dist/
/INGVReport/nbproject/private/
/INGVReport/dist/
/INGVReport/build/
/Networking_Java_Avanzato/nbproject/private/
