/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 mar 2025, 10:43:44
    Author     : Utente
*/

.stileTXT{
    
    -fx-border-width: 3px;
    -fx-border-style:solid;
    -fx-border-radius:10px;
    -fx-background-radius:10px;
    -fx-border-color:linear-gradient(to left, #FFD700, #E9967A);
     -fx-background-color: white;  
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.15, 0, 4);

    
    
}


.stileBTN{
    
    
    -fx-background-color: linear-gradient(to right, #FFD700, #E9967A) ;
    -fx-border-color: none; 
    -fx-border-width: 2px;
    -fx-background-radius:20px;
    -fx-border-radius: 20px;
   
    -fx-font-weight: bold;
    -fx-text-fill: white; 
    font-size: 24px;
   -fx-pref-width: 160px; /* Imposta la larghezza fissa */
    -fx-pref-height: 40px;
    -fx-cursor:hand;
    
}


.radio-toggle {
    -fx-background-color: transparent;
    -fx-text-fill: #ff9933; /* Colore testo */
    -fx-border-color: #ff9933; /* Bordo del RadioButton */
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-padding: 20px;
    -fx-font-weight: bold;
    -fx-pref-width: 160px; /* Imposta la larghezza fissa */
    -fx-pref-height: 40px;
     
}
.radio-toggle .radio{
    
   -fx-background-color: transparent;
    -fx-shape: ""; 
    -fx-padding: 0;
    -fx-opacity: 0; 
   
}

.radio-toggle:selected {
     -fx-background-color: #ff9933;
     -fx-background-radius: 10px 0px 0px 10px;
    -fx-text-fill: black; 
     -fx-font-weight: bold;
     -fx-font-size: 15px;
    -fx-border-color: #ff9933; /* Bordo del RadioButton */
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-padding: 20px;
    -fx-font-weight: bold;
}

.radio-toggleR {
    -fx-background-color: transparent;
    -fx-text-fill: #ff9933; /* Colore testo */
    -fx-border-color: #ff9933; /* Bordo del RadioButton */
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-padding: 20px;
    -fx-font-weight: bold;
    -fx-pref-width: 160px; /* Imposta la larghezza fissa */
    -fx-pref-height: 40px;
     
}
.radio-toggleR .radio{
    
   -fx-background-color: transparent;
    -fx-shape: ""; 
    -fx-padding: 0;
    -fx-opacity: 0; 
   
}

.radio-toggleR:selected {
     -fx-background-color: #ff9933;
     -fx-background-radius: 0px 10px 10px 0px;
    -fx-text-fill: black; 
     -fx-font-weight: bold;
     -fx-font-size: 15px;
    -fx-border-color: #ff9933; /* Bordo del RadioButton */
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-padding: 20px;
    -fx-font-weight: bold;
}

.dark{
    
    -fx-background-color: #121212;
    
}

